<h2>My Secret Heroes</h2>
<div>
  <label>Secret hero name:</label><input #secretHeroName />
  <button (click)="addSecretHero(secretHeroName.value); secretHeroName.value=''">
    Add Secet Hero
  </button>
</div>
<ul class="secretHeroes">
  <li *ngFor="let secretHero of secretHeroes" (click)="onSelect(secretHero)" [class.selected]="secretHero === selectedHero">
    <span class="hero-element">
      <span class="badge">*</span> {{secretHero.name}}
    </span>
    <button class="delete-button" (click)="deleteSecretHero(secretHero, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
